.quote__card
{
    width:500px;
    background:white;
    border-radius:4px;
    padding:40px;
}

.quote__content
{
    display:flex;
    flex-direction: row;
}
.quote__content_h1
{
    font-weight: 500;
}
.quote__icon
{
  font-size: 40px;
  margin-right: 30px;
}
.quote__content_h1
{
    display: unset;
}
.quote__author
{
    display: flex;
    flex-direction: row-reverse;
}
.btns_holder
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.new__quote_btn
{
    border:none;
    cursor: pointer;
    outline: none;
    padding:15px;
    border-radius: 4px;
    color:white;
}



@media only screen and  (max-width:376px)
{
    .quote__card
    {
        width:80%;
        padding: 15px;
    }
    .quote__content_h1
    {
        font-size:24px;
    }
    .quote__icon
    {
        font-size:30px;
        margin-right: 10px;
    }
    .new__quote_btn
    {
        padding:10px;
    }
}
@media only screen and  (max-width:769px)
{
    .quote__card
    {
        width:80%;
        padding: 15px;
    }
    .quote__content_h1
    {
        font-size:28px;
    }
    .quote__icon
    {
        font-size:34px;
        margin-right: 20px;
    }
    .new__quote_btn
    {
        padding:15px;
    }
}





